.teamAnalyser-mega-container{
    display: flex;
    background-color: #414141;
    justify-content: center;
    padding-bottom: 20px;
    background-image: url('../../../public/images/BGv4-light_Zeichenfläche\ 1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.teamAnalyser-ultra-container{
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    width: 75%;
    margin-top: 5%;
 
}
.teamAnalyser-super-container{
    display: flex;
    flex-flow: column;
    width: 35%;
}

.teamAnalyser-typeList-container{
    height: 35vh;
    display: flex;
    flex-flow: column;
    border-radius: 15px;
    box-shadow: 0px 2px 3px black;
    margin-bottom: 10%;
    background-color: #41008D;
}

.teamAnalyser-typeList-list{
    list-style: none;
    height: 25vh;
    overflow: scroll;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #101010;
    color: white;
}

.teamAnalyser-typeList-listitem{
    border-bottom: 1px solid black;
    padding: 20px;
}

.teamAnalyser-typeList-listitem:hover{
    background-color: gray;
}

.teamAnalyser-typeList-header-container{
    background-color: #41008D;
    text-align: center;
    border-radius: 15px 15px 0 0;
    color: white
}

.teamAnalyser-teamDisplay-container{
    width: 60%;

}