.elCreatorSelectField-addTypeButton{
    width: 5vw;
    height: 2.5vh;
    background-color: #B80ABF;
    border: none;
    box-shadow: 0px 2px 3px black;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border-radius: 25px;
}

.elCreatorSelectField-addTypeButton:hover{
    box-shadow: 0px 4px 7px black;
}

.elCreatorSelectField-selectField{
    width: 5vw;
    height: 2.5vh;
    cursor: pointer;
    font-size: small;
    background-color: #101010;
    color: white;
}

@media only screen and (max-width: 550px){
    .elCreatorSelectField-addTypeButton{
        width: 30%;
        height: 4vh;
    }

    .elCreatorSelectField-selectField{
        width: 30%;
        height: 4vh;
    }
}