.navLink {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav--container{
    display: flex;
    position: sticky;
    width: 100%;
    justify-content: center;
    background-color: #101010;
}

.nav--container-scroll{
    display: flex;
    position: fixed;
    background-color: #101010;
    width: 100%;
    justify-content: center;
    z-index: 1000;
}

.nav--list{
    display: flex;
    list-style-type: none;
    align-items: flex-start;
    gap: 25px;
    font-size: 1.2rem;
    align-items: center;
}

.nav--list li:hover{
    text-decoration: underline;
}

.nav-center{
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
    align-items: center;
}

.logo{
    background-image: url('../../../public/images/AnalyserLogo.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 200px;
}


@media only screen and (max-width: 750px){
    .navLink {
        font-size: 80%;
    }
}