.analyser-mega-container{
    display: flex;
    justify-content: center;
    background-color: #414141;
    padding-bottom: 20px;
    background-image: url('../../../public/images/BGv4-light_Zeichenfläche\ 1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}


.analyser-super-conatiner{
    justify-content: center;
    max-width: 900px;
    min-width: 600px;
}

.analyser-flex-container{
    display: flex;
    gap: 7%;
    margin-top: 5%;
}

.analyser-typelist{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-flow: column;
    
}

.analyser-typelist-list{
    overflow: scroll;
    height: 40vh;
    background-color: #101010;
    color: rgb(255, 255, 255);
}

.analyser-typelist-listitem{
    padding: 20px;
    border-bottom: 1px solid black;
    align-items: center;
}

.analyser-typelist-listitem:hover{
    background-color: gray;
}

.analyser-typelist-container{
    border-radius: 15px;
    height: 50vh;
    width: 27%;
    background-color: #41008D;
    border: 1px solid #2F2F2F;
    box-shadow: 0px 5px 8px rgb(32, 32, 32);
}

.analyser-typelist-header{
    margin: 0;
    font-size: 1rem;
}

.analyser-typelist-header-container{
    height: 60px;
    background-color: #41008D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px 2px 5px -2px rgb(90, 90, 90);
}


.analyser-display-container{
    display: flex;
    gap: 8%;
    justify-content: space-between;
}

.analyser-button-row{
    display: flex;
    gap: 2%;
    justify-content: flex-end;
}

.analyseButton{
    width: 15%;
    height: 3.5vh;
    background-image: linear-gradient(45deg,  #41008D, #6000a4);
    border: none;
    box-shadow: 0px 2px 3px rgb(47, 47, 47);
    font-weight: bold;
    cursor: pointer;
    color: white;
    border: 1px solid black;
}

.analyseButton:hover{
    box-shadow: 0px 4px 7px rgb(0, 0, 0);
}

.clearButton{
    width: 15%;
    height: 3.5vh;
    background-image: linear-gradient(45deg, #8D0067, #600147);
    background-color: #B10303;
    border: none;
    box-shadow: 0px 2px 3px rgb(47, 47, 47);
    font-weight: bold;
    cursor: pointer;
    color: white;
    border: 1px solid black;
}

.clearButton:hover{
    box-shadow: 0px 4px 7px rgb(0, 0, 0);
}

.analyser-content-container{
    width: 60vw;
}

@media only screen and (max-width: 550px){
    .analyser-flex-container{
        flex-flow: column;
        align-items: center;
    }

    .analyser-typelist-container{
        width: 37%;
    }

    .analyser-display-container{
        flex-flow: column;
    }

    .analyser-button-row{
        justify-content: center;
    }

    .analyseButton{
        width: 90%;
        height: 6vh;
    }

    .clearButton{
        width: 90%;
        height: 6vh;
    }
}