.eC-analyser-mega-container{
    display: flex;
    padding-bottom: 20px;
    flex-flow: column;
}

.eC-analyser-super-conatiner{
    margin-top: 5%;
    justify-content: space-between;
}

.eC-analyser-typelist-super-container{
    width: 20%;
}

.eC-analyser-typelist-container{
    border-radius: 15px;
    box-shadow: 0px 2px 5px black;
    height: 32vh;
    margin-bottom: 10%;
    background-color: #41008D;
}

.eC-analyser-typelist-list{
    overflow: scroll;
    height: 23vh;
    background-color: #101010;
    color: white;
}

.eC-analyser-super-conatiner{
    display: flex;
}

.eC-analyser-display-container{
    display: flex;
    gap: 5%;

}

.eC-analyser-content-container{
    width: 70%;
}
