.home-mega-container{
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: scroll;
}

.home-puprle{
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
    background-color: #41008D;
    width: 55%;
    height: 100vh;
}
.home-image{
    width: 100%;
    height: 60%;
    background-image: url('../../../public/images/HeaderBG_Zeichenfläche1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    top: -90%;
    opacity: 0.3;
}

.home-header{
    font-size: 3rem;
    margin: 0;
    padding: 0;
    letter-spacing: 10px;
}

.home-super-container{
    position: relative;
    top: -120%;
    color: white;
    text-align: center;
    width: 75%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.home-link-row{
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
}
.home-link-row-box{
    background-color: #101010;
    border: 3px solid #41008D;
    width: 25%;
    height: 200px;
    border-radius: 25px;
    box-shadow: 0 3px 4px black;
    display: flex;
    flex-flow: column;
    padding: 1%;
    justify-content: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.home-link-row-box:hover{
    border: 3px solid #A30AF5;
    box-shadow: 0 3px 4px #A30AF5;
}

@media only screen and (max-width: 700px) {
    .home-link-row-box{
        font-size: 80%;
    }
}

@media only screen and (max-width: 550px){
    .home-mega-container{
        height: fit-content;
    }

    .home-link-row{
        flex-flow: column;
    }

    .home-link-row-box{
        width: 100%;
        font-size: 100%;
        margin-top: 5%;
        height: 120px;
       
        
    }

    .home-super-container{
        padding-bottom: 20px;
        top: 20%;
        position: absolute;
        left: 10%;
        right: 10%;
    }

}