.banner-mega-container{
    width: 100%;
    background-color: black;
    height: 35vh;
    text-align: center;
}

.banner-violet{
    background-color: #41008D;
    width: 55%;
    height: 100%;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
}

.banner-black{
    background-color: black;
    width: 55%;
    height: 100%;
    position: relative;
    top: -100%;
    right: -40%;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
}

.banner-title{
    position: relative;
    padding: 0;
    margin: 0;
    top: -155%;
    color: white;
    letter-spacing: 10px;
    font-size: 2.5rem;
}